#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /*sirve para que los elementos que no caben en la pantalla bajen*/
}


#blog h3, h4 {
    text-align: center;
}

#blog article {
    margin: 15px;
    
}


#blog img {
    width: 100%;
    max-width: 280px;
    margin: 10 70; /*Margen de imagenes pare centrarlas*/
}
