
.icon-users:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-calculator:before { content: '\e802'; } /* '' */
.icon-menu-outline:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */